doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            
            h1 #{namePage} 
            if locals.messages   
                .alertas
                    each category in Object.keys( locals.messages )
                        each error in messages[category]
                            .alerta(class=`${category}`)
                                p= error
                            
            //- if errors
            //-     p.alerta.error= errors

            form#formulario.caja.caja-login(action="/users/login" method="POST")
                .campo  
                    label(for="email") E-mail
                    input(type="email" name="email" placeholder="Email")
                .campo
                    label(for="password") Password 
                    input(type="password" name="password" placeholder="Password")
                .campo.enviar   
                    input.boton(type="submit" value="Sign in")
                .campo.acciones
                    a(href="/users/sign-in") Don't have an account?
                    a(href="/users/restore-password") Forgot your password?

    script(src="/dist/bundle.js") 