extends layout 

include mixins/createOrUpdateProject

block content
        .contenido-principal    
                h1 #{namePage}
                 
                pre=vardump(project)

                if errors 
                        each error in errors
                                p.error.alerta=error.msg
                +createOrUpdateProject( project )
