

mixin createOrUpdateProject( project = {} )
        form.agregar-proyecto(action=`/new-project/${ project.id || '' }` method="POST") 
                .campo
                        label(for="nombre") Project Name
                        input(value=`${ project.name ? project.name : ''}` type="text" id ="nombre" name="name" placeholder="Project Name")
                .campo.enviar
                        input(type="submit", value=`${ project.name ? 'Save' : 'Add'}` class="boton")